<!DOCTYPE html>
<html lang="en">
<head>
	<title>Angel Investment Seeker </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/utilvc.css">
    <link rel="stylesheet" type="text/css" href="css/mainvc1.css">
    <link rel="stylesheet" type="text/css" href="css/mainvc2.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact101">
                <span class="contact101-form-title">
                    Angel Investment Seeker     
                    Founder's Information
                    </span>
			<form class="contact100-form validate-form" action="/userform" method="POST">
				<div class="wrap-input100 validate-input" data-validate="Valid Name is required">
					<span class="label-input200">Project Name</span>
					<input class="input100" type="text" name="input1" placeholder="Enter your name">
					<span class="focus-input100"></span>
                </div>
               

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Valid name is required">
					<span class="label-input200">Founder Name</span>
					<input class="input100" type="text" name="input2" placeholder="Enter Here...">
					<span class="focus-input100"></span>
                </div>
                <br>
                <div class="wrap-input100 validate-input">
                    <span class="label-input200">Foundere's Image</span>
					<input class="input100" type="file" name="input3">
					<span class="focus-input100"></span>
                </div>
                <br>
                <div class="wrap-input100 validate-input m-b-23" data-validate = "Descriptive message is required">
					<span class="label-input200">Description About Founder</span>
					<input class="input100" type="text" name="input4" placeholder="Enter Here...">
					<span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate = "Descriptive message is required">
					<span class="label-input200">Motivation For This Project</span>
					<input class="input100" type="text" name="input5" placeholder="Enter Here...">
					<span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate = "Descriptive message is required">
					<span class="label-input200">Description Of Your Acheivements</span>
					<input class="input100" type="text" name="input6" placeholder="Enter Here...">
					<span class="focus-input100"></span>
                </div>
                
                
                <span class="contact101-form-title">
                        Team's Information
                    </span>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Descriptive message is required">
					<span class="label-input200">Describe Your Team Ambition</span>
					<input class="input100" type="text" name="input7" placeholder="Enter Here...">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-23" data-validate = "Descriptive message is required">
					<span class="label-input200">How Is Your Core Team Connection</span>
					<input class="input100" type="text" name="input8" placeholder="Enter Here...">
					<span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate = "Message is required:">
					<span class="label-input200">Describe your consultant/mentor</span>
					<input class="input100" type="text" name="input9" placeholder="Enter Here...">
                    <span class="focus-input100"></span>
                    </div>
                    <br>
                    
                    <div class="wrap-input100 validate-input" >
                    <span class="label-input200">Team's Image</span>
					<input class="input100" type="file" name="input10">
					<span class="focus-input100"></span>
                </div>
                    <br>
                    <span class="contact101-form-title">
                            Project's Information
                        </span>

                        <div class="wrap-input100 validate-input m-b-23" data-validate = "Descriptive Message is required">
                                <span class="label-input200">Description Of Your Project</span>
                                <textarea class="input100" name="input11" placeholder="Your message here..."></textarea>
                                <span class="focus-input100"></span>
                            </div>
				<div class="wrap-input100 validate-input m-b-23">
					<span class="label-input200">What Is The Stage Of Your Project?</span>
					<div>
						<select class="selection-2" name="input12">
                            <option value="Not Available"><p class="p1">Please Select Option</p></option>
                            <option value="PROJECT IS ON THE STAGE OF IDEATION">PROJECT IS ON THE STAGE OF IDEATION</option>
                            <option value="PROJECT IS ON THE STAGE OF CONCEPTING">PROJECT IS ON THE STAGE OF CONCEPTING</option>
                            <option value="PROJECT IS ON THE STAGE OF COMMITMENT">PROJECT IS ON THE STAGE OF COMMITMENT</option>
                            <option value="PROJECT IS ON THE STAGE OF SCALING BUSINESS">PROJECT IS ON THE STAGE OF SCALING BUSINESS</option>
                            <option value="PROJECT IS ON THE STAGE OF ESTABLISHING">PROJECT IS ON THE STAGE OF ESTABLISHING</option>
                            <option value="PROJECT IS ON THE STAGE OF PROFESIONALIZATION">PROJECT IS ON THE STAGE OF PROFESIONALIZATION</option>
                            <option value="PROJECT IS ON THE STAGE OF EXITS/IPO">PROJECT IS ON THE STAGE OF EXITS/IPO</option>	
						</select>
                    </div>
                    </div>
                     
                      <div class="wrap-input100 input100-select">  
                        <span class="label-input200">Your Project Fits In Which Horizontal Sector</span>
                        <div>
                            <select class="selection-2" name="input13">
                                <option value="Not Available"><p class="p1"></p>Please Select Option</option>
                                    <option value="Consulting">Consulting</option>
                                    <option value="Consumer Internet">Consumer Internet</option>
                                    <option value="E-Commerce">E-Commerce</option>
                                    <option value="Enterprise Mobility">Enterprise Mobility</option>
                                    <option value="Government">Government</option>
                                    <option value="Hyperlocal">Hyperlocal</option>
                                    <option value="Location Based Services">LOCATION BASED SERVICES</option>
                                    <option value="Marketplace">Marketplace</option>			
                                    <option value="Mobile">Mobile</option>
                                    <option value="Offline">Offline</option>
                                    <option value="ONLINE AGGREGATOR">Online Aggregator</option>
                                    <option value="Peer To Peer">Peer To Peer</option>
                                    <option value="Platfrom">Platform</option>
                                    <option value="Rental">Rental</option>
                                    <option value="Sharing Economy">Sharing Economy</option>
                                    <option value="Subscription Commerce">Subscription Commerce</option>
                            </select>
                        </div>
                        </div> 
                         
                        <div class="wrap-input100 input100-select">
                            <span class="label-input200">Your Project Fits In Which Vertical Sector</span>
                            <div>
                                <select class="selection-2" name="input14">
                                    <option value="Not Available">Please Select Option</option>
                                    <option value="3D printing">3D printing</option>
                                    <option value="Adtech">Adtech</option>
                                    <option value="Agtech">Agtech</option>
                                    <option value="Artificial intelligence and Machine Learning">A.I and M.L</option>
                                    <option value="AudioTech">AudioTech</option>
                                    <option value="Augmented Reality">Augmented Reality</option>
                                    <option value="Autonomous cars">Autonomous cars</option>
                                    <option value="B2B payments">B2B payments</option>
                                    <option value="Beauty">Beauty</option>
                                    <option value="Big Data">Big Data</option>
                                    <option value="Cannabis">Cannabis</option>
                                    <option value="Cleantech">Cleantech</option>
                                    <option value="Construction Technology">Construction Technology</option>
                                    <option value="Cryptocurrency/Blockchain">Cryptocurrency/Blockchain</option>
                                    <option value="Cybersecurity">Cybersecurity</option>
                                    <option value="Ecommerce Edtech">Ecommerce Edtech</option>
                                    <option value="Ephemeral Content">Ephemeral Content</option>
                                    <option value="Esports">Esports</option>
                                    <option value="Fintech">Fintech</option>
                                    <option value="Foodtech">Foodtech</option>
                                    <option value="Gaming">Gaming</option>
                                    <option value="Healthcare">Healthcare</option>
                                    <option value="HR Tech">HR Tech</option>
                                    <option value="Impact Investment">Impact Investment</option>
                                    <option value="Industrials">Industrials</option>
                                    <option value="Infrastructure">Infrastructure</option>
                                    <option value="Insurtech">Insurtech</option>
                                    <option value="IOT">IOT</option>
                                    <option value="Life Sciences">Life Sciences</option>
                                    <option value="Lohas and Wellness">Lohas and Wellness</option>
                                    <option value="Manufacturing">Manufacturing</option>
                                    <option value="Techmobile">Techmobile</option>
                                    <option value="Mortgage Tech">Mortgage Tech</option>
                                    <option value="Nanotechnoogy">Nanotechnoogy</option>
                                    <option value="Oil and Gas">Oil and Gas</option>
                                    <option value="Oncology">Oncology</option>
                                    <option value="Pet Technology">Pet Technology</option>
                                    <option value="Real Estate Technology">Real Estate Technology</option>
                                    <option value="Restaurant Technology">Restaurant Technology</option>
                                    <option value="Ridesharing">Ridesharing</option>
                                    <option value="Robotics and Drones">ROBOTICS and DRONES</option>
                                    <option value="Software as a Services">Software as a Services</option>
                                    <option value="Space Tech">Space Tech</option>
                                    <option value="Media and Tech">MEDIA AND TECH</option>
                                    <option value="Virtual Reality">Virtual Reality</option>
                                    <option value="Wearables">Wearables</option>
                                    <option value="Quantified Self">Quantified Self</option>
                                </select>
                            </div>

                </div>
                
                <div class="wrap-input100 validate-input m-b-23" data-validate = "Descriptive Message is required">
                        <span class="label-input200">Acheivements Of Your Project</span>
                        <textarea class="input100" name="input15" placeholder="Your message here..."></textarea>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Descriptive Message is required">
                            <span class="label-input200">Vision Of Your Project</span>
                            <textarea class="input100" name="input16" placeholder="Your message here..."></textarea>
                            <span class="focus-input100"></span>
                        </div>
                        <br>
                <div class="wrap-input100 validate-input">
                    <span class="label-input200">Prototype's Image</span>
					<input class="input100" type="file" name="input17">
					<span class="focus-input100"></span>
                </div>
                <br>
                <div class="wrap-input100 validate-input">
                    <span class="label-input200">Prototype's Video</span>
					<input class="input100" type="file" name="input18">
					<span class="focus-input100"></span>
                </div>
                    <br>
                        <div class="wrap-input100 input100-select">
                                <span class="label-input200">Platform Of Your Project?</span>
                                <div>
                                    <select class="selection-2" name="input19">
                                        <option value="Not Available"><p class="p1">Please Select Option</p></option>
                                        <option value="Website Platform">Website Platform</option>
                                        <option value="Offline Application">Offline Application</option>
                                        <option value="Online Application">Online Application</option>
                                        <option value="Web software">Web software</option>
                                        <option value="Offline Market">Offline Market</option>
                                        <option value="Hybrid Platform">Hybrid Platform</option>
                                    </select>
                                </div>
                                </div>
                                <div class="wrap-input100 input100-select">
                                    <span class="label-input100">Prefered type of business</span>
                                    <div>
                                        <select class="selection-2" name="input20">
                                            <option value="Not Available">Please Select Option</option>
                                            <option value="Business to Business (B2B)">Business to Business (B2B)</option>
                                            <option value="Business to Consumers (B2C)">Business to Consumers (B2C)</option>
                                            <option value="Business to Many (B2M)">Business to Many (B2M)</option>
                                            <option value="Business to Employees (B2E)">Business to Employees (B2E)</option>
                                            <option value="Business to Government (B2G)">Business to Government (B2G)</option>
                                            <option value="Consumer to Consumer (C2C)">Consumer to Consumer (C2C)</option>
                                            <option value="Government to Consumer (G2C)">Government to Consumer (G2C)</option>
                                            <option value="Government to Business (G2B)">Government to Business (G2B)</option>
                                            <option value="Business to Government (B2G)">Business to Government (B2G)</option>
                                            </select>
                                    </div>
                                    <span class="focus-input100"></span>
                                </div>

                        <span class="contact101-form-title">
                                Investment Information
                            </span>
                            <div class="wrap-input100 validate-input">
                                    <span class="label-input200">Type of Valuation</span>
                                    <textarea class="input100" name="input21" placeholder="Your message here..."></textarea>
                                    <span class="focus-input100"></span>
                                </div>
                
                                <div class="wrap-input100 input100-select">
                                    <span class="label-input200">Type Of investment</span>
                                    <div>
                                        <select class="selection-2" name="input22">
                                            <option value="Not Available"><p class="p1">Please Select Option</p></option>
                                            <option value="Mentorship Invstment">Mentorship Invstment</option>
                                            <option value="Experimental Invstment">Experimental Invstment</option>
                                            <option value="Surely return Invstment">Surely return Invstment</option>
                                            <option value="Only Financial Support">Only Financial Support</option>
                                            <option value="Only invested in proven concepts">Only invested in proven concepts</option>
                                        </select>
                                    </div>
                            

                                <div class="wrap-input100 input100-select">
					                <span class="label-input200">Valuation Of The Project</span>
					            <div>
						            <select class="selection-2" name="input23">
                                    <option value="Not Available"><p class="p1">Please Select Option</p></option>
                                    <option value="BETWEEN 1RS - 50000RS">BETWEEN 1RS - 50000RS</option>
                                    <option value="BETWEEN RS50000 - RS200000(2L)">BETWEEN RS50000 - RS200000(2L)</option>
                                    <option value="BETWEEN RS200000(2L) - RS500000(5L)">BETWEEN RS200000(2L) - RS500000(5L)</option>
                                    <option value="BETWEEN RS500000(5L) - RS1000000(10L)">BETWEEN RS500000(5L) - RS1000000(10L)</option>
                                    <option value="BETWEEN RS1000000(10L) - RS1500000(15L)">BETWEEN RS1000000(10L) - RS1500000(15L)</option>
                                    <option value="BETWEEN RS1500000(15L) - RS2000000(20L)">BETWEEN RS1500000(15L) - RS2000000(20L)</option>
                                    <option value="BETWEEN RS2000000(20L) - RS2500000(25L)">BETWEEN RS2000000(20L) - RS2500000(25L)</option>
                                    <option value="BETWEEN RS2500000(25L) - RS3000000(30L)">BETWEEN RS2500000(25L) - RS3000000(30L)</option>
                                    <option value="BETWEEN RS3000000(30L) - RS3500000(35L)">BETWEEN RS3000000(30L) - RS3500000(35L)</option>
                                    <option value="BETWEEN RS3500000(35L) - RS4000000(40L)">BETWEEN RS3500000(35L) - RS4000000(40L)</option>
                                    <option value="BETWEEN RS4000000(40L) - RS4500000(45L)">BETWEEN RS4000000(40L) - RS4500000(45L)</option>
                                    <option value="BETWEEN RS4500000(45L) - RS5000000(50L)">BETWEEN RS4500000(45L) - RS5000000(50L)</option>
                                    <option value="BETWEEN RS5000000(50L) - RS5500000(55L)">BETWEEN RS5000000(50L) - RS5500000(55L)</option>
                                    <option value="BETWEEN RS6000000(60L) - RS6500000(65L)">BETWEEN RS6000000(60L) - RS6500000(65L)</option>
                                    <option value="BETWEEN RS6500000(65L) - RS7000000(70L)">BETWEEN RS6500000(65L) - RS7000000(70L)</option>
                                    <option value="BETWEEN RS7000000(70L) - RS7500000(75L)">BETWEEN RS7000000(70L) - RS7500000(75L)</option>
                                    <option value="BETWEEN RS7500000(75L) - RS8000000(80L)">BETWEEN RS7500000(75L) - RS8000000(80L)</option>
                                    <option value="BETWEEN RS8000000(80L) - RS8500000(85L)">BETWEEN RS8000000(80L) - RS8500000(85L)</option>
                                    <option value="BETWEEN RS8500000(85L) - RS9000000(90L)">BETWEEN RS8500000(85L) - RS9000000(90L)</option>
                                    <option value="BETWEEN RS9000000(90L) - RS9500000(95L)">BETWEEN RS9000000(90L) - RS9500000(95L)</option>
                                    <option value="BETWEEN RS9500000(95L) - RS5500000(1CR)">BETWEEN RS9500000(95L) - RS5500000(1CR)</option>
                                    <option value="BETWEEN RS10000000(1CR) - RS100000000(10CR)">BETWEEN RS10000000(1CR) - RS100000000(10CR)</option>
                                    <option value="BETWEEN RS100000000(10CR) - RS200000000(20CR)">BETWEEN RS100000000(10CR) - RS200000000(20CR)</option>
                                    <option value="BETWEEN RS200000000(20CR) - RS1000000000(100CR)">BETWEEN RS200000000(20CR) - RS1000000000(100CR)</option>
                                    <option value="MORE THAN THIS RANGE">MORE THAN THIS RANGE</option>
						            </select>
                                </div>
                            </div> 
                <div class="wrap-input100 validate-input m-b-23" data-validate="Valid percentage is required">
                        <div>
                        <span class="label-input200">Percentage of equity you can dilute</span>
                        <input class="input100" type="number" name="input24" placeholder="1-100" min="1" max="100">
                </div>
                    </div>
                <br>   
                <div class="wrap-input100 input100-select">
                    <span class="label-input200">Location of the Angel Investment Seeker</span>
                    <div>
                        <select class="selection-2" name="input25">
                            <option value="Not Available">Please Select Option</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>        
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu & Kashmir">Jammu & Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>        
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>        
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>  
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>   
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>  
                            <option value="Delhi">Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                        </select>
                    </div>
                </div>
                
                <div class="wrap-input101 validate-input">
                        <div>
                        <span class="label-input200">What Is Your Required Range Of Investment?</span>
                        <input class="input100" type="number" name="input26" placeholder="1000-100000Rs" min="1000" max="100000">
                        </div>
                    </div>
                    <br>
                    
                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Descriptive Message is required">
                            <span class="label-input200">Utilization of funds</span>
                            <textarea class="input100"  name="input27" placeholder="Your message here..."></textarea>
                            <span class="focus-input100"></span>
                        </div>
<br>
                        
<span class="contact101-form-title">
        Contact Details
    </span>


    <div class="wrap-input100 validate-input m-b-23" data-validate = "Valid email is required: ex@abc.xyz">
            <span class="label-input200">Active Email ID(Founder)/Organization</span>
            <input class="input100" type="email" name="input28" placeholder="Enter Here...">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-23" data-validate = "Valid phone number is required: ex@abc.xyz">
            <span class="label-input200">Active Phone No.(Founder)/Organization</span>
            <input class="input100" type="number" name="input29" placeholder="Enter Here...">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-23" data-validate = "Valid link is required: ex@abc.xyz">
                <span class="label-input200">Social Media Links</span>
                <input class="input100" type="text" name="input30" placeholder="Enter Here...">
                <span class="focus-input100"></span>
        </div> 
                
            <div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendors/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendors/bootstrap/js/popper.js"></script>
	<script src="vendors/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendors/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="vendors/daterangepicker/moment.min.js"></script>
	<script src="vendors/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendors/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/mainp3.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
