<!DOCTYPE html>
<html lang="en">
<head>
	<title>Venture Capitalist Investment Seeker</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendors/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/utilvc.css">
    <link rel="stylesheet" type="text/css" href="css/mainvc1.css">
    <link rel="stylesheet" type="text/css" href="css/mainvc2.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact101">
                <span class="contact101-form-title">
                       Project/Brand Information
                       <br>Please fill the form for the more customized experience</br>
                    </span>
			<form class="contact100-form validate-form" method="POST" action="/userform3">
				<div class="wrap-input100 validate-input" data-validate="Valid Name is required">
					<span class="label-input200">Name of Project/Brand</span>
					<input class="input100" type="text" name="input1" placeholder="Enter your name">
					<span class="focus-input100"></span>
                </div>
                <div class="wrap-input101 validate-input" data-validate="Valid percentage is required">
                    <div>
                    <span class="label-input200">Number of Founder</span>
                    <input class="input100" type="number" name="input2" placeholder="1-100" min="1" max="100">
                    </div>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid Name is required">
					<span class="label-input200">Name of Founders and their experties</span>
					<input class="input100" type="text" name="input3" placeholder="Enter your name">
					<span class="focus-input100"></span>
                </div>
                <br>
                <div class="wrap-input101 validate-input" data-validate="Valid percentage is required">
                    <div>
                    <span class="label-input200">Number of Core team members</span>
                    <input class="input100" type="number" name="input4" placeholder="1-1000" min="1" max="1000">
                    </div>
                </div>
                
                <div class="wrap-input100 validate-input" >
                    <span class="label-input200">Foundere's Image</span>
					<input class="input100" type="file" name="input5">
					<span class="focus-input100"></span>
                </div>
                <br>
                <div class="wrap-input100 validate-input" data-validate = "Descriptive message is required">
					<span class="label-input200">Any stories behind your team bonding</span>
					<input class="input100" type="text" name="input6" placeholder="Enter Here...">
					<span class="focus-input100"></span>
                </div>
               
                <div class="wrap-input100 validate-input" data-validate = "Descriptive message is required">
					<span class="label-input200">Vision of company</span>
					<input class="input100" type="text" name="input7" placeholder="Enter Here...">
					<span class="focus-input100"></span>
                </div>
                

                <span class="contact101-form-title">
                        Project/Brand  Information
                    </span>

                    <div class="wrap-input100 input100-select">
                        <span class="label-input200">Age of the Project/Brand</span>
                        <div>
                                <input class="input100" type="number" name="input8" placeholder="0-1000" min="0" max="1000">
                        </div>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 input100-select">
                        <span class="label-input200">Stage of Project/Brand</span>
                        <div>
                            <select class="selection-2" name="input9">
                                    <option value="Not Available">Please Select Option</option>
                                    <option value="Ideation">Ideation (If the project have atleast a valuable Product/Service idea with no fix team & no right balance of skills)</option>
                                    <option value="Concepting">Concepting (If the project have proper roadmap, mission & visions with fix and skillfull team)   </option>
                                    <option value="Commitment">Commitment (If the project have proper committed team with balance skills which able to develop MVP or initial product ready. Clear terms of atleast 3 years for every team member) </option>
                                    <option value="Validation">Validation (If the project have proper validation of Revenue Models, Business Models & Customer Growth & potential to grow more)</option>
                                    <option value="Scaling">Scaling (If the product/ services focus on KPI based measurable growth in user proper fast growing market share & hiring quality employees) </option>
                                    <option value="Estblashing">Estblashing (If the project have proper hierarchy of team with great growth & good market share & expected to continue)</option> 
                            </select>
                        </div>
                        <span class="focus-input100"></span>
                    </div>   
                        
                        <div class="wrap-input100 input100-select">
                            <span class="label-input200">Vertical sector of Project/Brand</span>
                            <div>
                                <select class="selection-2" name="input10">
                                        <option value="Not Available">Please Select Option</option>
                                        <option value="3D printing">3D printing</option>
                                        <option value="Adtech">Adtech</option>
                                        <option value="Agtech">Agtech</option>
                                        <option value="Artificial intelligence and Machine Learning">A.I and M.L</option>
                                        <option value="AudioTech">AudioTech</option>
                                        <option value="Augmented Reality">Augmented Reality</option>
                                        <option value="Autonomous cars">Autonomous cars</option>
                                        <option value="B2B payments">B2B payments</option>
                                        <option value="Beauty">Beauty</option>
                                        <option value="Big Data">Big Data</option>
                                        <option value="Cannabis">Cannabis</option>
                                        <option value="Cleantech">Cleantech</option>
                                        <option value="Construction Technology">Construction Technology</option>
                                        <option value="Cryptocurrency/Blockchain">Cryptocurrency/Blockchain</option>
                                        <option value="Cybersecurity">Cybersecurity</option>
                                        <option value="Ecommerce Edtech">Ecommerce Edtech</option>
                                        <option value="Ephemeral Content">Ephemeral Content</option>
                                        <option value="Esports">Esports</option>
                                        <option value="Fintech">Fintech</option>
                                        <option value="Foodtech">Foodtech</option>
                                        <option value="Gaming">Gaming</option>
                                        <option value="Healthcare">Healthcare</option>
                                        <option value="HR Tech">HR Tech</option>
                                        <option value="Impact Investment">Impact Investment</option>
                                        <option value="Industrials">Industrials</option>
                                        <option value="Infrastructure">Infrastructure</option>
                                        <option value="Insurtech">Insurtech</option>
                                        <option value="IOT">IOT</option>
                                        <option value="Life Sciences">Life Sciences</option>
                                        <option value="Lohas and Wellness">Lohas and Wellness</option>
                                        <option value="Manufacturing">Manufacturing</option>
                                        <option value="Techmobile">Techmobile</option>
                                        <option value="Mortgage Tech">Mortgage Tech</option>
                                        <option value="Nanotechnoogy">Nanotechnoogy</option>
                                        <option value="Oil and Gas">Oil and Gas</option>
                                        <option value="Oncology">Oncology</option>
                                        <option value="Pet Technology">Pet Technology</option>
                                        <option value="Real Estate Technology">Real Estate Technology</option>
                                        <option value="Restaurant Technology">Restaurant Technology</option>
                                        <option value="Ridesharing">Ridesharing</option>
                                        <option value="Robotics and Drones">Robotics and Drones</option>
                                        <option value="Software as a Services">Software as a Services</option>
                                        <option value="Space Tech">Space Tech</option>
                                        <option value="Media and Tech">Media and Tech</option>
                                        <option value="Virtual Reality">Virtual Reality</option>
                                        <option value="Wearables">Wearables</option>
                                        <option value="Quantified Self">Quantified Self</option>
                                </select>
                            </div>
                            <span class="focus-input100"></span>
                        
                        <div class="wrap-input100 input100-select">
                            <span class="label-input200">Horizontal sector for Project/Brand</span>
                            <div>
                                <select class="selection-2" name="input11">
                                        <option value="Not Available">Please Select Option</option>
                                        <option value="Consulting">Consulting</option>
                                        <option value="Consumer Internet">Consumer Internet</option>
                                        <option value="E-Commerce">E-Commerce</option>
                                        <option value="Enterprise Mobility">Enterprise Mobility</option>
                                        <option value="Government">Government</option>
                                        <option value="Hyperlocal">Hyperlocal</option>
                                        <option value="Location Based Services">Location Based Services</option>
                                        <option value="Marketplace">Marketplace</option>			
                                        <option value="Mobile">Mobile</option>
                                        <option value="Offline">Offline</option>
                                        <option value="Online Aggregator">Online Aggregator</option>
                                        <option value="Peer To Peer">Peer To Peer</option>
                                        <option value="Platfrom">Platform</option>
                                        <option value="Rental">Rental</option>
                                        <option value="Sharing Economy">Sharing Economy</option>
                                        <option value="Subscription Commerce">Subscription Commerce</option>
                                </select>
                            </div>
                            <span class="focus-input100"></span>
                        </div>
<br>
                					<div class="wrap-input100 validate-input" >
                    				<span class="label-input200">Project/Brand Image</span>
								    <input class="input100" type="file" name="input12">
									<span class="focus-input100"></span>
                					</div>
<br>
                    <span class="contact101-form-title">                                                                
                            Track record 
                        </span>

                        <div class="wrap-input100 validate-input" data-validate = "Descriptive Message is required">
                                <span class="label-input200">What is the problem your project/Brand solves</span>
                                <textarea class="input100" name="input13" placeholder="Your message here..."></textarea>
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate = "Valid name is required">
                                <span class="label-input200">Description of your project/brand</span>
                                <input class="input100" type="text" name="input14" placeholder="Enter Here...">
                                <span class="focus-input100"></span>
                            </div>
                       
                            <div class="wrap-input101 validate-input">
                                <div>
                                <span class="label-input200">Valuation of Project/Brand in rupees</span>
                                <input class="input100" type="number" name="input15" placeholder="1-10000000000Rs" min="1" max="10000000000">
                                </div>
                            </div>
                        </div>
                        <span class="contact101-form-title">
                                Market Validation 
                            </span>
                            
                                <div class="wrap-input100 validate-input">
                                    
                                    <span class="label-input200">Size of the market for the Project/Brand in rupees</span>
                                    <input class="input100" type="number" name="input16" placeholder="1-10000000000Rs" min="1" max="10000000000">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input">
                                    
                                    <span class="label-input200">Net MRR growth rate</span>
                                    <input class="input100" type="number" name="input17" placeholder="1-10000000000Rs" min="1" max="10000000000">
                                    <span class="focus-input100"></span>
                                </div>
                
                                <div class="wrap-input100 validate-input">
                                    <span class="label-input200">Net MRR Churn rate</span>
                                    <input class="input100" type="number" name="input18" placeholder="1-10000000000Rs" min="1" max="10000000000">
                                    <span class="focus-input100"></span>
                                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Valid percentage is required">
                        <span class="label-input200">Recent data of return of investment </span>
                        <input class="input100" type="number" name="input19" placeholder="1-100" min="1" max="100">
                        <span class="focus-input100"></span>
                </div>
               
               
                <span class="contact101-form-title">
                        Investment
                        </span>


                    <div class="wrap-input100 validate-input">
                        <span class="label-input200">Range Of Required Investment</span>
                        <input class="input100" type="number" name="input20" placeholder="1000-100000000000Rs" min="1000" max="100000000000">
                        <span class="focus-input100"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input">
                    <span class="label-input200">Range of equity you can dilute in percentage</span>
                    <input class="input100" type="number" name="input21" placeholder="0-100%" min="0" max="100">
                    <span class="focus-input100"></span>
                    </div>

                
                <div class="wrap-input100 input100-select">
                    <span class="label-input200">What is your proposed type of venture capital</span>
                 <div>
                    <select class="selection-2" name="input22">
                    <option value="Not Available">Please Select Option</option>
                    <option value="Early stage financing">Early stage financing</option>
                    <option value="Expansion financing">Expansion financing</option>
                    <option value="Acquisition/Buyout financing">Acquisition/Buyout financing</option>
                    </select>
                </div>
                <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 input100-select" data-validate = "Valid email is required: ex@abc.xyz">
                    <span class="label-input200">Prefered method of venture capital</span>
                    <div>
                        <select class="selection-2" name="input23">
                            <option value="Not Available">Please Select Option</option>
                            <option value="Equity">Equity</option>
               				<option value="Participating debentures">Participating debentures</option>
                			<option value="Conditional loan">Conditional loan</option>
                        </select>
    				</div>
    				<span class="focus-input100"></span>
					</div>


					<span class="contact101-form-title">
        			    Contact Details
    				</span>


    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <span class="label-input200">Active Email ID </span>
            <input class="input100" type="email" name="input24" placeholder="Enter Here...">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate = "Valid phone number is required: ex@abc.xyz">
            <span class="label-input200">Active Phone Number </span>
            <input class="input100" type="number" name="input25" placeholder="Enter Here...">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate = "Valid link is required: ex@abc.xyz">
                <span class="label-input200">Social Media Links</span>
                <input class="input100" type="text" name="input26" placeholder="Enter Here...">
                <span class="focus-input100"></span>
        </div>
				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendors/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendors/bootstrap/js/popper.js"></script>
	<script src="vendors/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendors/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="vendors/daterangepicker/moment.min.js"></script>
	<script src="vendors/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendors/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
