<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Photo</title>
</head>
<body>
    <div>
        <img src="https://res.cloudinary.com/katalyst/image/upload/v1563430783/dtz44cvim2fm0r1uuqas.jpg" alt="">
    </div>
</body>
</html>