<!DOCTYPE html>
<html>
<head>
	<title>USER PAGE</title>
	<script type="text/javascript" src="./js/mscript.js">
	</script>
	<link rel="stylesheet" type="text/css" href="./css/mstyle.css">
</head>
<body>
	<div class="wrap">
		<div class="bannerBox">
				<div class="addButton">
						<a href="/userform"><img src="./img/add.png"> 
					</div></a>
			<h1>Profiles.</h1>
		</div>
		<div class="boxContainer">
			<div id="scrollingContainer" class="scrollingContainer">
				<div class="box" onmouseover="hov(0)" onmouseout="unHov(0)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button" onclick="follow()">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(1)" onmouseout="unHov(1)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(2)" onmouseout="unHov(2)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(3)" onmouseout="unHov(3)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(4)" onmouseout="unHov(4)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(5)" onmouseout="unHov(5)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(6)" onmouseout="unHov(6)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(7)" onmouseout="unHov(7)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(8)" onmouseout="unHov(8)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(9)" onmouseout="unHov(9)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(10)" onmouseout="unHov(10)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
				<div class="box" onmouseover="hov(11)" onmouseout="unHov(11)">
					<div class="profileBox">
						<div class="profile"></div>
						<div class="name">
							<p>Name</p>
						</div>
						<button class="follow" type="button" name="button">Follow</button>
					</div>
				</div>
			</div>
		</div>
		<div class="foot">
			<p>Designed by Developers.</p>
		</div>
	</div>
</body>
</html>
